:root {
  --green-color: rgb(6, 145, 116);
  --left-hero-color: rgb(248, 250, 249);
  --right-hero-color: rgb(167, 172, 172);
  --black-color: rgb(20, 22, 22);
  --main-color: rgb(230, 233, 234);
  --icon-light-color: rgb(200, 200, 200);
  --red-logo: #f86a83;
  --light-logo:#D2D3D4;
}
